

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html

#banner{
  background-image:url(../Images/Sunset\ .jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;

}



body{
  background-image: url();
  background-size: cover;
  box-sizing: border-box;


}
/* Navbar */
.navbar{
  display: flex;
  text-align: center;
  background:#926239;
  position: sticky;
  top:0;
  width:100%;
  margin: auto;
  
  
}

.navbar ul{
  display: inline-flex;
  list-style: none;
  margin: auto;
  color: rgb(103, 27, 27);

}

.navbar ul li{
  font-family: 'Franklin Gothic Medium';
  font-size: 12px;
  color: whitesmoke;

 
}

.navbar ul li a{
  color:black;
  padding: 15px;


}

.navbar ul li a:hover{
  background-color: rgb(27, 187, 208);
  color: white;

}


/*Home Section*/

.main{
 
 color: whitesmoke;
  text-align: center;
  padding: 0 20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium';
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.main h1{
font-size: 25px;
font-weight: bold;

}

.main p{
  font-size: 12px;
}
/*About Section*/
 #about{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium';
  color:black;
  text-align: justify;


}

.table{
  background-color: #926239;
  color: white;
  
  
}

/*Name Generator Section*/

