*{
  margin: 0;
  padding: 0;

}
body{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.6;
  color: whitesmoke;
}
#showcase{
  background-image: url(../Images/Sunset\ .jpeg);
  background-size: cover;
  background-image: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center ;
  padding: 0 20px;

}

#showcase h1{
  font-size: 25px;
  line-height:0.8 ;
}

#showcase p{
  font-size: 12px;
}

#showcase .button{
  font-size: 15px;
  color: whitesmoke;
  text-decoration: none;
  color: rgb(194, 83, 42);
  border: rgb(194, 83, 42) 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;

}
#showcase .button:hover{
  background:whitesmoke;
}

#about{
  padding: 10px;
  background:rgb(194, 83, 42);
  font-size: 12px;
}

.table{
  padding: 10px;
  background:white;
  font-size: 12px;
  align-items: center;
}

#Generator{
  padding: 10px;
  background:rgb(194, 83, 42);
  font-size: 12px;
  border-radius: 10px;
  align-items: center;
  text-align: center;

}

legend {
  text-align: center;
  color: whitesmoke;
}

input[type=number],
[type="radio"] {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
}
input[type=submit] {
  width: 100%;
  background-color:whitesmoke;
  color: black;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 20px;
  align-items: center;
}

input[type=submit]:hover {
  background-color: rgb(97, 72, 69);

}

/* Media queries*/
@media only screen and (min-width:600px){

  div.rows {
    flex-direction: column;
    align-items: center;
}

.box{
  width: 80%;
  font-size: 25px;
  padding: 20px;
  
}
.headings{
  font-size: 30px;
  align-items: center;
}

#about{
  align-items: center;
  font-size: 30px;
  align-items: center;
}

#Generator{
  align-items: center;
  font-size: 30px;
  align-items: center;

}